# Core dependencies
pillow==11.2.1
paho-mqtt==2.1.0
python-dotenv==1.1.0
supabase==2.15.1
boto3==1.38.14
numpy==1.24.2

# GPIO and Hardware
gpiozero
RPi.GPIO
picamera2==0.3.27
PiicoDev
pyserial==3.5
piicodev